body {
  font-size: 12px;
  font-family: "ו";
  margin: 0;
  padding: 0;
}
a.alink {
  text-decoration: none;
  color: #333;
}
a.alink:hover {
  text-decoration: underline;
}

h2 {
  height: 27px;
  margin-bottom: 25px;
  padding: 0 0 0 30px;
  line-height: 27px;
  color: #999;
  font-weight: normal;
  font-size: 12px;
  border-bottom: #97BBD5 3px solid;
  clear: both;
}

h2 span {
  width: 148px;
  height: 27px;
  margin-right: 15px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
  background: url(../images/ga21.png) no-repeat;
  display: inline-block;
}

table {
  border-collapse: collapse;
}

table.search_results {
  width: 100%;
  border: #d9d9d9 1px solid;
}

table.search_results th {
  padding: 7px 10px 7px 0;  
  border: #d9d9d9 1px solid;
  background: #f2f2f2;
}

table.search_results td {
  padding: 7px 15px;  
  border: #d9d9d9 1px solid;
  background: #FFF;
}

table.global_table {
  width: 100%;
  border: #d9d9d9 1px solid;
}

table.global_table th {
  padding: 7px 10px 7px 0;
  text-align: right;
  border: #d9d9d9 1px solid;
  background: #f2f2f2;
}

table.global_table td {
  padding: 7px 15px;
  border: #d9d9d9 1px solid;
  background: #FFF;
}

.g_tablebtn {
  padding: 20px 0 0 147px;
  clear: both;
}

input.g_btn_blue {
  width: 85px;
  height: 28px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border: none;
  background: url(../images/ga18.gif) no-repeat;
}

input.g_btn_blue_long {
  width: 125px;
  height: 28px;
  color: #FFF;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  border: none;
  background: url(../images/ga18_long.gif) no-repeat;
}

#wrap {
  min-width: 1000px;
  min-height: 100%;
  _height: expression(document.documentElement.scrollHeight);
  position: relative;
  background: #FFF;
  overflow-x: hidden;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

/* header begin */
#header {
  width: 100%;
  height: 71px;
  clear: both;  
}

#header div {
  width: 1000px;
  margin: 0 auto;
}

#header div .logo {
  width: 137px;
  float: left;
}

#header div .topc {
  width: 860px;
  text-align: right;
  float: right;
}

.topc p {
  padding: 16px 0 12px 0;
}

.topc span.line {
  padding: 0 7px 0 5px;
  color: #b0b0b0;
}

.topc a {
  padding: 0 0 0 4px;
}
/* header end */

/* menu begin */
#menu {  
  height: 29px !important;
  height: 30px;
  line-height: 29px;
  list-style-type: none;
  background: #B5DCF9;
}

#menu a {
  display: block;
  width: 80px;
  text-align: center;
}

#menu a:link {
  color: #000;
  text-decoration: none;
}

#menu a:visited {
  color: #000;
  text-decoration: none;
}

#menu a:hover {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

#menu li {
  float: left;
  width: 80px;
  border-right: 1px solid #fff;
}

#menu li a:hover {
  background: #6699ff;
}

#menu li ul {
  padding-left: 10px;
  line-height: 25px;
  list-style-type: none;
  text-align: left;
  left: -1860em;
  width: 180px;
  position: absolute;
  top: 97px !important;
  top: 110px;
}

#menu li ul li {
  float: left;
  width: 130px;
  background: #B5DCF9;
  border-top: 1px solid #fff
}

#menu li ul a {
  display: block;
  width: 120px !important;
  width: 130px;
  text-align: left;
  padding-left: 10px;
}

#menu li ul a:link {
  color: #fff;
  text-decoration: none;
}

#menu li ul a:visited {
  color: #fff;
  text-decoration: none;
}

#menu li ul a:hover {
  color: #000;
  text-decoration: none;
  font-weight: normal;
  background: #6699ff;
}

#menu li:hover ul {
  left: auto;
}

#menu li.sfhover ul {
  left: auto;
}
/* menu end */

/* footer begin */
#footer {
  width: 100%;
  height: 73px;
  padding-top: 5px;
  margin-top: 30px;
  line-height: 25px;
  text-align: center;
  border-top: #CCC 1px solid;
  z-index: 1;
}
/* footer end */