<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>com.ibm.cics.minibank.local.webapp</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
        <servlet-name>doTransfer</servlet-name>
        <servlet-class>com.ibm.cics.minibank.local.webapp.servlet.JCAServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>doTransfer</servlet-name>
        <url-pattern>minibank-pages/pages/doTransfer</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>doDeposit</servlet-name>
        <servlet-class>com.ibm.cics.minibank.local.webapp.servlet.JCAServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>doDeposit</servlet-name>
        <url-pattern>minibank-pages/pages/doDeposit</url-pattern>
    </servlet-mapping>
 
     <servlet>
        <servlet-name>doWithdraw</servlet-name>
        <servlet-class>com.ibm.cics.minibank.local.webapp.servlet.JCAServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>doWithdraw</servlet-name>
        <url-pattern>minibank-pages/pages/doWithdraw</url-pattern>
    </servlet-mapping>  
    
    <servlet>
        <servlet-name>doCreateAccount</servlet-name>
        <servlet-class>com.ibm.cics.minibank.local.webapp.servlet.JCAServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>doCreateAccount</servlet-name>
        <url-pattern>minibank-pages/pages/doCreateAccount</url-pattern>
    </servlet-mapping> 
    
    <servlet>
        <servlet-name>doCreateUser</servlet-name>
        <servlet-class>com.ibm.cics.minibank.local.webapp.servlet.JCAServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>doCreateUser</servlet-name>
        <url-pattern>minibank-pages/pages/doCreateUser</url-pattern>
    </servlet-mapping> 
    
    <servlet>
        <servlet-name>doQueryAccount</servlet-name>
        <servlet-class>com.ibm.cics.minibank.local.webapp.servlet.JCAServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>  
    <servlet-mapping>
        <servlet-name>doQueryAccount</servlet-name>
        <url-pattern>minibank-pages/pages/doQueryAccount</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>doQueryUser</servlet-name>
        <servlet-class>com.ibm.cics.minibank.local.webapp.servlet.JCAServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>  
    <servlet-mapping>
        <servlet-name>doQueryUser</servlet-name>
        <url-pattern>minibank-pages/pages/doQueryUser</url-pattern>
    </servlet-mapping>

    
</web-app>
